/* Blue: #2196F3 */
/* Amber: #FFC107 */
/*https://storage.googleapis.com/code.getmdl.io/1.0.6/material.blue-amber.min.css" />*/

/* Turn this on to debug layout */
body * {
  /*outline: red 1px dotted;*/
}

/* The "Looking" page is #fixed-tab-1 */
#fixed-tab-1 .puppy-card.mdl-card {
  width:  320px;
  height: 460px;
}

#fixed-tab-1 .puppy-card .mdl-card__title {
  padding-bottom: 3px;
}

#fixed-tab-1 .puppy-card .mdl-card__supporting-text {
  padding-top: 3px;
}

/* The "Liked" page is #fixed-tab-2. */
/* Wide card for Liked Puppy list */
#fixed-tab-2 .puppy-card.mdl-card {
  width:  460px;
  height: 100%;
}

#fixed-tab-2 .profile-photo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

#fixed-tab-2 .mdl-card__media {
  background: #FFF;
  padding: 10px;
  margin-bottom: 20px;
}

/* Loading spinner */
.spinner {
  padding-top: 200px;
}
